.lista {
  color: #bfbfbf;
  display: flex;
  padding: 30px 0;
  gap: 30px;
  overflow: auto;
  width: 100%;
}

.lista__itens {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06090f;
  padding: 6px 25px;
  border: 1px solid #151b26;
  border-radius: 37px;
  font-size: 15px;
  min-width: 108px;
  transition: ease-in-out 0.2s;
}

.lista__itens:hover {
  background-color: #151b26;
  color: white;
  cursor: pointer;
}

.lista::-webkit-scrollbar {
  height: 8px; /* Barra de rolagem horizontal */
  cursor: pointer;
}

.lista::-webkit-scrollbar-thumb {
  background-color: #00a3ff; /* Cor do "polegar" da barra */
  border-radius: 10px;
  cursor: pointer;
}

.lista::-webkit-scrollbar-track {
  background: #151B26;
  border-radius: 10px; /* Cor de fundo para o trilho da barra de rolagem */
}
